Flask
flask-cors
Flask-SQLAlchemy
Flask-Migrate
gunicorn

numpy
pandas
openpyxl

opencv-python
mediapipe

requests
beautifulsoup4

python-dotenv

SQLAlchemy
Werkzeug
Jinja2

pyttsx3
SpeechRecognition
pydub
soundfile
librosa
imutils
